<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
         
          <div class="mt-5">
            <h1>Edit Entry</h1>
            <form action="/qa/save/<%=qas._id%>" method="POST">
              <div class="mb-3 mt-5">
                  <label type="text" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="newQuestion" value="<%=qas.question%>">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <input class="form-control" id="caption" name="newAnswer" value="<%=qas.answer%>">
              </div>
              <button type="submit" class="d-grid col-6 btn btn-primary" value="Upload">Save</button>
            </form>
          </div>
      </div>
      <div class="col-12 mt-5">
        <ul class="row list-unstyled">
           <li class="col-12">
              <form
                action="/myaccount"
                method="GET"
                class="">
                <button class="btn btn-primary" type="submit">Cancel</button>
              </form>
            </li>
            <li class="col mt-3">
              <form
                action="/qa/deleteQA/<%=qas._id%>?_method=DELETE"
                method="POST"
                class="dropdown-item col-3">
                <button onclick="return confirm('Select \'OK\' to confirm deletion.')" class="btn btn-danger" type="submit"> Delete</button>
              </form>
            </li>
        </ul>
        <div class="row justify-content-center mt-5">
        </div>  
      </div>  
    </div>
  </div>
</div>
  
<%- include('partials/footer') -%>


