<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
         
          <div class="mt-5">
            <h1>Edit Entry</h1>
            <p>Create a new entry.</p>
            <form action="/qa/save/<%=qas._id%>" method="POST">
              <div class="mb-3">
                  <label type="text" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="newQuestion" value="<%=qas.question%>">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <input class="form-control" id="caption" name="newAnswer" value="<%=qas.answer%>">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Save</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
           <li>
              <form
                action="/myaccount"
                method="GET"
                class="dropdown-item col-3">
                <button class="btn btn-primary" type="submit">Cancel</button>
              </form>
            </li>
            <li>
              <form
                action="/qa/deleteQA/<%=qas._id%>?_method=DELETE"
                method="POST"
                class="dropdown-item col-3">
                <button onclick="return confirm('Select \'OK\' to confirm deletion.')" class="btn btn-primary" type="submit"> Delete</button>
              </form>
            </li>
        </ul>
        <div class="row justify-content-center mt-5">
        </div>  
      </div>  
    </div>
  </div>
</div>
<!-- <div class="myEntries container">
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5 mb-3">
              <h2>My Entries:</h2>
          </div>
          <% for(var i=0; i<qas.length; i++) {%>
           <div class="dropdend mt-3">
              <div class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%=qas[i].question%>
              </div>
              <ul class="dropdown-menu">
                <li><p class="dropdown-item"><%=qas[i].answer%></p></li>
                <li>
                  <form
                    action=""
                    method="POST"
                    class="dropdown-item col-3">
                    <button class="btn btn-primary" type="submit">Edit  </button>
                  </form>
                </li>
                <li>
                  <form
                    action="/qa/deleteQA/<%=qas[i].id%>?_method=DELETE"
                    method="POST"
                    class="dropdown-item col-3">
                    <button onclick="return confirm('Select \'OK\' to confirm deletion.')" class="btn btn-primary" type="submit"> Delete</button>
                  </form>
                </li>
              </ul>
           
          </div>


          <% } %>
      </div>
  </div>
</div> -->
  
<%- include('partials/footer') -%>


